<p #pViewChildRef>start editing to see some magic</p>
<!-- <hello [name]="Angular"></hello>
<hello [name]="Angular 2"></hello>
<hello [name]="Angular 3"></hello>
<hello [name]="Angular 4"></hello>
<hello [name]="Angular 5"></hello>
<hello [name]="Angular 6"></hello>
<hello [name]="Angular 7"></hello> -->
<ng-container *ngFor = "let name of names; let isLast = last">
  <hello [name]=name [ngClass]="isLast === false? '' : 'last-child'"></hello>
</ng-container>
<hello name = "Angular 8" (myOutput)="myOutput($event)"></hello>